.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.quote-Area{

  padding: 20px;
  border-right: 1px solid white;
  height: 170px;

}
.footer-Navigation{
 
  border-right: 1px solid white;
  height: 170px;
}
.contact-us{
  padding-top: 10px;
  padding:auto;

}
.quote-Area-sm{

  padding: 20px;
  border-bottom: 1px solid white;


}
.footer-Navigation-sm{
   padding-top: 10px;
  border-bottom: 1px solid white;
 
}

body {
  font-family: 'PT Serif Caption';font-size: 22px;
}
.footer{
  background-color: black;
  color:aliceblue;

  width: 100vw;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.btn-custom{
  background-color: black;
  color: white;
  width: 100px;
}

.btn-customPagination{
  width: 40px;

}
.color-picker{
  
  position: fixed;
  right:35px;
  bottom:35px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.styleImg{
  width: 100%;
  height: 300px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
